@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  --my-background-color: light-dark(
    linear-gradient(to left, rgb(226, 210, 254), rgb(219, 208, 254)),
    linear-gradient(to left, rgb(27 20 41), rgb(20 15 35))
  );
  color: light-dark(black, white);
  margin: 0;
  font-family: 'Raleway', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--my-background-color);
}
